* {
  margin: 0;
  padding: 0;
}


/* font */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Background Color */
body{
  background-color: #f5f8ff;
}

/* header */
/* background */
.header{
  background-image: url("./B12A01-landing-launchpad/Assets/Hero-bg.png");
  width: 100%;
  height: 698px;
}

.logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    margin: 50px;
}

nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 909px;
}

.banner{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 237px;
  width: 905px;
  margin: 158px auto;
}

.banner-heading {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  width: 905px;
  height: 152px;
  text-align: center;
  margin-top: 0px;
  margin-bottom:37px;
}

/* Action panel */

.action{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 220px;
  width: 1140px;
  height: 328px;
  margin: 116px auto;
}
.action-text{
  height: 203px;
  width: 517px;
  display: flex;
  flex-direction: column;
}

.action-heading{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  width: 517px;
  height: 49px;
  margin-top: 0px;
  margin-bottom: 23px;
}

.action-description{
  font-size: 24px;
  font-weight: 400;
  color: rgba(37, 36, 50, 0.5);
  width: 517px;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 23px;
}
.action-btn{
  width: 229px;
}

/* action image */

.img-01{
  border-radius: 48px;
  height: 328px;
  width: 403px;
}

/* Productive section */
.productive-user{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 1140px;
  height: 306px;
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  margin: 116px auto;
}

.title{
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  width: 856px;
  margin: 0px auto;
}

.insights{
  display: flex;
  gap: 158px;
  width: 856px;
  height: 121px;
}

.insight{
  width: 180px;
  height: 121px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bold-insight{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
  margin: 0px auto;
}

.sub-insight{
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin: 0px auto;
}


/* button */
.btn-primary{
  background-color: #4E47FF;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 12px 36px;
}


/* Rerview section */
.review{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 137px auto;
}

.title-main{
  width: 1140px;
  height: 49px;
}

.cards{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card{
  height: 243px;
  width: 366.67px;
  background-color: #FFFFFF;
  border-radius: 14px;
}

.full-content{
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stars{
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.star{
  height: 20px;
  width: 20px;
}

.card-content{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-title{
  font-size: 24px;
  font-weight: 600;
  color: #1E1E1E;
}

.card-description{
  font-size: 16px;
  font-weight: 400;
  color: #1E1E1E;
}

.card-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.profile-image{
  border-radius: 50%;
}

.profile-info{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.profile-name{
  font-size: 16px;
  font-weight: 600;
  color: #757575;
}

.date{
  font-size: 16px;
  font-weight: 400;
  color: #B3B3B3;
}



/* Highlight section */

.highlight{
  height: 696.77px;
  width: 1140px;
  background-color: #FFFFFF;
  border-radius: 14px;
  margin: 137px auto;
}

.highlight-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 71px 150px;
}

.highlight-title{
  font-size: 50px;
  color: #000000;
}

.highlight-description{
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.highlight-btn{
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.highlight-image{
  width: 840px;
  height: 364.77px;
  border-radius: 48px;
}

